---
---
{% include header.html %}
<section class='about'>
	<h2>About</h2>
	<h3>Occasional missives on my life as an Academic-Humanist-turned-Javascript-Engineer.</h3>
	<p>I've spent most of my adult life writing term papers, essays, theses, and even a dissertation. Now I write code. I'm one of the many trained academics who, for whatever reason (and there are many possibilities), has left the fold and set out on a different path -- one that engages the skills and discipline I learned in school, but in alternative, and perhaps unexpected ways.</p>
	<p>I work professionally as a Javascript Engineer in Manhattan, but my academic training is in philosophy and the study of religion. I love to teach and talk about philosophy and religion, but I've also always enjoyed working with technology, and programming in particular. I'll use this space to write about my experience making the transition, and also to post observations about my work and interests. I know there are many others who have found or will soon find themselves in a similar position -- I hope my experience might be of some use to them.</p>
</section>
<section class='recentPosts'>
	<h2>Recent Posts</h2>
	{% for post in site.posts %}
	<li>
	    <a href="{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</section>
{% include footer.html %}
