        </div>
        <div class="footer">Copyright 2014. Design based on a Bauhaus <em>Katalog der Muster</em>, 1926.</div>
        <aside>
            <section>
                <h2>Recent Posts:</h2>
                <ul>
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h2>Links:</h2>
                <p>Resources I find useful or entertaining on a regular basis</p>
                <h3>Humanities</h3>
                <ul>
                    <li><a href="http://www.brainpickings.org/">Brain Pickings</a></li>
                    <li><a href="http://www.aldaily.com/">Arts &amp; Letters Daily</a></li>
                    <li><a href="http://www.3quarksdaily.com/">3 Quarks Daily</a></li>
                </ul>
                <h3>Technology</h3>
                <ul>
                    <li><a href="http://alistapart.com/">A List Apart</a></li>
                    <li><a href="http://dailyjs.com/">DailyJS</a></li>
                    <li><a href="http://webplatformdaily.org/">Open Web Platform Daily Digest</a></li>
                </ul>
            </section>
        </aside>
    </div>
    <script src="js/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49014749-1', 'fgshprd.github.io');
        ga('send', 'pageview');
    </script>
</body>
</html>