        <div class="footer">Copyright 2014. Design based on a Bauhaus <em>Katalog der Muster</em>, 1926.</div>
        <aside>
            <section>
                <h2>Recent Posts:</h2>
                <ul>
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h2>Links:</h2>
                <p>Resources I find useful or entertaining on a regular basis</p>
                <h3>Humanities</h3>
                <ul>
                    <li><a href="http://www.brainpickings.org/">Brain Pickings</a></li>
                    <li><a href="http://www.aldaily.com/">Arts &amp; Letters Daily</a></li>
                    <li><a href="http://www.3quarksdaily.com/">3 Quarks Daily</a></li>
                </ul>
                <h3>Technology</h3>
                <ul>
                    <li><a href="http://alistapart.com/">A List Apart</a></li>
                    <li><a href="http://dailyjs.com/">DailyJS</a></li>
                    <li><a href="http://javascriptweekly.com/">JavaScript Weekly</a></li>
                    <li><a href="http://webplatformdaily.org/">Open Web Platform Daily Digest</a></li>
                </ul>
            </section>
        </aside>
    </div>
</body>
</html>