<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css?v=1.0">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
    <div id="page">
        <div class="header">
            <div class="title">Frank Griffin Shepard</div>
            <ul class="navlist">
                <li><a href="/">fgshprd.github.io</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>
        <div class="content">